<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
    <link rel="stylesheet" th:href="@{/css/code.css}">
    <link rel="stylesheet" th:href="@{/lib/formSelects-v4/formSelects-v4.css}">
    <link rel="stylesheet" th:href="@{/lib/zTree_v3/css/zTreeStyle/zTreeStyle.css}" type="text/css">
</head>
<body>
<div class="layui-form timo-compile">
    <form th:action="@{/score/add}">
        <input type="hidden" name="id" th:if="${score}" th:value="${score.id}"/>
        <div class="layui-form-item">
            <label class="layui-form-label">学生姓名</label>
            <div class="layui-input-inline">
                <input class="layui-input select-tree" th:attr="data-url=@{/dept/listStu}"
                       type="text" name="dept"  placeholder="请选择系别" th:value="${score?.dept?.title}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">课程名称</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="courseId"  placeholder="请输入课程名称" th:value="${score?.courseId}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">学业基础分</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="score"  placeholder="请输入学业基础分" th:value="${score?.score}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">行为基础分</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="behaviorScore"  placeholder="请输入行为基础分" th:value="${score?.behaviorScore}">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" class="layui-textarea" name="remark">[[${score?.remark}]]</textarea>
            </div>
        </div>
        <div class="layui-form-item timo-finally">
            <button class="layui-btn ajax-submit"><i class="fa fa-check-circle"></i> 保存</button>
            <button class="layui-btn btn-secondary close-popup"><i class="fa fa-times-circle"></i> 关闭</button>
        </div>
    </form>
</div>
<script th:replace="/common/template :: script"></script>
<script type="text/javascript" th:src="@{/js/plugins/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/zTree_v3/js/jquery.ztree.core.min.js}"></script>
<script type="text/javascript" th:src="@{/js/timoTree.js}"></script>
<script type="text/javascript">
    // 树形菜单
    $.fn.selectTree();
</script>
</body>
</html>
